.table {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: scroll;
  height: 400px;
  color: #a3a2a2;
}
.table tr {
  display: flex;
  justify-content: space-between;
}
.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #353536;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
